<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Developer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
  <!-- Favicon icon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'img.png') }}" type="image/x-icon">
</head>
<style>
  .myimg {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
  }

  body {
    background-image: url('https://i.ibb.co/QkcmL8Y/406993a138157e2938d0eade82370ede.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
</style>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Logo at the top-left corner -->
      <div class="logo">
        <img class="myimg" src="{{ url_for('static', filename='img.png') }}" alt="">
      </div>
      <!--{{ url_for('static', filename='img.png') }}-->
      <a class="navbar-brand" href="/home"
        style="padding-left: 30px;padding-bottom: 9.5px;font-family: Georgia;font-size: 26px">Health
        Center</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 20px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item" style="padding-left: 12px;">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item" style="padding-left: 12px;">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item" style="padding-left: 12px;">
            <a class="nav-link active" href="/developer">Developer</a>
          </li>
          <li class="nav-item" style="padding-left: 12px;">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
        </ul>
        <!--<form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
        <button type="button" class="btn btn-outline-light" onclick="window.location.href = '/signup' ; ">Get
          Started</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container my-4 mt-4" style="background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;">

    </h6>
    <h5>Meet the Developer</h5>

    <p>Hello, I'm Samuel Lazar, an Engineering student who has attempted to create a medicine recommendation
      web app for medical assistance,
    </p>
    <h5>Expertise
    </h5>
    <p>
      I have implimented various programming techniques like html, css, python, bootstrap and flask to develop this working
      model.
    </p>
    <h5>A Commitment to Excellence
    </h5>
    <p>Our work is driven by a commitment to excellence and a belief that technology should be accessible and beneficial
      to everyone. Whether it's developing predictive models, creating intelligent algorithms, or designing
      user-friendly interfaces.
    </p>

    <h5>Join Us on this Journey
    </h5>
    <p>We invite you to explore Medicine Recommendation Web Application and experience the fusion of AI and healthcare.
    </p>
    <br>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>